.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;

  border: 1px solid #dadde1;
  border-radius: 10px;
  padding: 32px;
  width: 640px;

  background: #fff;
}

.titleDiv {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;

  width: 576px;
  height: 52px;
}

.formTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
}

.formPar {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.fieldForm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.input {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  border-radius: 12px;
  padding: 12px 20px;
  width: 576px;
  height: 48px;

  background: #f7f7f7;
  border: none;
}

input::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.error {
  display: flex;
  margin-top: 4px;
  margin-left: 10px;
  color: red;
}

.textArea {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;

  border-radius: 12px;
  padding: 12px 20px 56px 20px;
  width: 576px;
  height: 88px;

  background: #f7f7f7;
  resize: none;
  overflow: hidden;
  border: none;
}

.textArea::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #8d929a;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 12px;
  padding: 12px 51px;
  width: 156px;
  height: 44px;

  background: #3470ff;
  color: white;
}

.btn:hover {
  background: #0b44cd;
}
