.headerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 960px;

  border-bottom: 1px solid #f2f4f7;
  padding: 24px 120px;
  min-width: 1440px;
  height: 68px;

  background: #f2f4f7;
}

.links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;

  width: 136px;
  height: 20px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;
}

.active {
  color: #0b44cd;
}
