.container {
  display: flex;

  padding: 84px 120px 104px 120px;
  gap: 72px;
}

.carImg {
  border-radius: 19px;
  width: 640px;
  height: 512px;
  object-fit: cover;
}

.firstDiv {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: #101828;
}

.paragraph {
  display: flex;
  gap: 16px;
  margin-top: 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.icon {
  width: 16px;
  height: 16px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #3470ff;
  margin-top: 16px;
}

.desc {
  display: flex;
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.moreInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 110px;
  margin-top: 68px;
}

.rentTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #101828;
  margin-bottom: 20px;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}
